{% extends 'registration/base/base.html' %}
{% load static %}


{% block body %}

<div class="row mb-5">
  <div class="col-md-8 col-xl-6 text-center mx-auto">
  <p class="fw-bold text-success mb-2">About us</p>
  </div>
</div>

{% for content in about_us %}
<div class="row mb-5" id="{{ content.heading }}">
  <div class="col-md-8 col-xl-6 text-center mx-auto"> <hr>
    <h6 class="fw-bold">{{ content.heading }}</h6><hr>
    <p class="text-muted">{{ content.text }}&nbsp;</p>
  </div>
</div>

    {% endfor %}

{% endblock %}

