{% extends 'registration/base/base.html' %}
{% load static %}



{% block body %}

  
  <section class="py-5"><div class="container py-5">
      <div class="row mb-4 mb-lg-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
              <p class="fw-bold text-success mb-2">Our products</p>
              <h3 class="fw-bold">what we offer</h3>
              <p class="text-muted mb-4">We supply 
                all african natural products from 
                Tanzania to the world, scroll down 
                to see more...</p>

          </div>
      </div>
       {% for i in products %}


    {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 9 or forloop.counter == 11 or forloop.counter == 13 or forloop.counter == 15 or forloop.counter == 17 or forloop.counter == 19 or forloop.counter == 21 or forloop.counter == 23 or forloop.counter == 25%} 
      <div id="{{i.slug}}" class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
          <div class="col order-md-last mb-5"">
            <img class="rounded img-fluid shadow" src="{{ i.image.url }}" /></div>
          <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
              <div ">
                  <h5 class="fw-bold">
                    {{ i.product_title }} </h5>

                  <p class="text-muted mb-4">{{ i.product_description }}</p>
                  <a href="{% url 'to_oder' %}"><button class="btn btn-primary shadow" type="button">I want this</button></a>
              </div>
          </div>
      </div>
        
      {% else %}
      <div id="{{i.slug}}" class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
        <div class="col  mb-5">
          <img class="rounded img-fluid shadow" src="{{ i.image.url }}" /></div>
        <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
            <div ">
                <h5 class="fw-bold">
                  {{ i.product_title }} </h5>

                <p class="text-muted mb-4">{{ i.product_description }}</p>
                <a href="{% url 'to_oder' %}"><button class="btn btn-primary shadow" type="button">I want this</button></a>
            </div>
        </div>
    </div>
    {% endif %}
      {% endfor %}

      
{% endblock %}

